<!DOCTYPE html>
<html lang="en-US">
    <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
    
<body>

<div ng-app="">
  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>
  <p ng-bind="name">This is a paragraph</p>

  <p>Last Name : <input type="text" ng-model="lastname"></p>
  <h1>Hello {{lastname}}</h1>
  <p ng-bind="lastname"></p>

  <p>My first expression {{ 5 + 5}}</p>

</div>

</body>
</html> 