<!DOCTYPE html>
<html lang="en-US">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="ibatApp">

  <div ng-controller="demoCtrl">
    <p>{{firstName + " " + lastName }}</p>
    <p>
      <button ng-click="changeName()">Change Name</button>
    </p>
  </div>

  <div ng-controller="studentCtrl">
    <p>{{firstName + " " + lastName }}</p>
    <p>

      <form>
        Course:
        <input type="text" ng-model="masterCourse.courseName" />
        <br /> Room:
        <input type="text" ng-model="masterCourse.roomNumber" />
        <br />


        <button ng-click="addCourse()">Add Course</button>
      </form>


    </p>
    <table>
      <tr ng-repeat="course in courses">
        <td>
          {{course.courseName}}

        </td>

        <td>
          {{course.roomNumber}}

        </td>


      </tr>

    </table>


  </div>

  <script>

    var app = angular.module("ibatApp", []);

    app.controller("demoCtrl", function ($scope) {

      $scope.firstName = "John";
      $scope.lastName = "Rowley";

      $scope.changeName = function () {

        $scope.firstName = "Nelly";

      }

    })


    app.service("courseService", function () {



      this.get = function () {

        var courses = [
          { "courseName": "sMaths", "roomNumber": 3 },
          { "courseName": "sChemistry", "roomNumber": 4 },
          { "courseName": "sPhysics", "roomNumber": 5 },
          { "courseName": "sCoding", "roomNumber": 6 },
          { "courseName": "sEnglish", "roomNumber": 8 }
        ];
        return courses;
      }

    })


    app.controller("studentCtrl", function ($scope, courseService) {

      $scope.firstName = "Bruce";
      $scope.lastName = "Wayne";

      $scope.masterCourse = { "courseName": "", "roomNumber": "" };

      $scope.courses = courseService.get();

      $scope.addCourse = function () {

        $scope.courseData = angular.copy($scope.masterCourse);
        $scope.courses.push($scope.courseData);
        $scope.masterCourse.courseName = "";
        $scope.masterCourse.roomNumber = "";

      }

    })



  </script>

</body>

</html>